<h2>Admin Dash Board</h2>

<div class="d-flex bd-highlight mb-3">
  <div class="ml-auto p-2 bd-highlight">
   <%= render 'pages/new_user' %>
  </div>
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">id</th>
      <th scope="col">Status</th>
      <th scope="col">approval</th>
      <th scope="col">Transaction</th>
    </tr>
  </thead>

  <tbody>
    <% @tracked_user.each do |user| %>
      <% unless user.admin %>
        <tr>
          <th scope="row"><%= user.email %></th>
          <th scope="row"><%= user.id %></th>
          <td><%= user.status %></td>
          <td>
            <% unless user.status %>  
              <%= button_tag status_path,  method: :get, class: "btn btn-outline-info my-2 my-sm-0" do %>
                <%= 'Pending' %>
              <% end %>
            <% else %>
              <span>Approved</span>
            <% end %>
          </td>
          <td>
            <% if user.status %>
              <%= render 'pages/transaction' %>
            <% else %>
              <span>No Transaction</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
